.social_signin
    button.social_signin_github
        span
            <i class="fab fa-github"></i>
        | Continue with GitHub
    button.social_signin_facebook
        span
            <i class="fab fa-facebook"></i>
        | Continue with Facebook
    button.social_signin_google
        span
            <i class="fab fa-google"></i>
        | Continue with Google
    