extends layouts/main
include mixins/video_block

block content
    .videos
        each video in arrayVideos
            +videoBlock({
                title: video.title,
                description: video.description,
                source: video.videoSource,
                views: video.views
            })

