extends layouts/main
include mixins/video_block

block content
    .videos
        each video in arrayVideos
            +videoBlock({
                id: video.id,
                title: video.title,
                description: video.description,
                fileUrl: video.fileUrl,
                views: video.views
            })
