extends layouts/main

block content
    .form-container
        form(action=routes.signin, method="post")
            input(type="email", name="email", placeholder="Type your email address", required=true)
            input(type="password", name="password", placeholder="Type your password", required=true)
            input(type="submit", name="submit", value="Sign in")
    include partials/social_signin