extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.uploadVideo}`, method="post")
            label(for="file") Video file
            input(type="file", id="upload_video", name="file")
            input(type="text", placeholder="Title", name="title")
            textarea(name="description", placeholder="Description")
            input(type="submit", value="Upload video")